@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

/*? global clearing */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: var(--monserrat);
}

:root {
  /* font family */
  --monserrat: "Montserrat", sans-serif;
  /* color */
  --basic: #fff;
  --dark: #070505;
  --grey: #504848;
  --fresh: #0d922e;
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.row {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
}

.active {
  color: var(--fresh) !important;
  font-weight: 600;
}

/* NAV */

nav {
  position: sticky;
  top: 0;
  background-color: var(--basic);
  z-index: 1;
}

nav a {
  display: inline-block;
  padding: 1.5em 0;
  color: var(--dark);
}

.navigator a {
  margin: 0 1em;
}

.hamBtn {
  background: none;
  border: none;
  display: none;
}

/* END NAV */

/* MAIN */

.welcome {
  background-color: var(--basic);
  text-align: center;
  position: sticky;
  top: 4em;
}

.welcome > .filter-btn {
  padding: 1em 0;
}

.welcome > .filter-btn button {
  padding: 0.8em 1.2em;
  background: none;
  border: none;
  color: var(--grey);
}

main .row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  margin-top: 1em;
}

.rm-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1em;
  color: var(--dark);
}

.rm-card .preview {
  display: block;
  height: 250px;
  border: 1px solid var(--grey);
  background-color: var(--grey);
  border-radius: 10px;
  margin-bottom: 10px;
}

.rm-card .caption {
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1em;
}

/* END MAIN */

/* TERM CONDITION */

#service {
  padding: 2em 0;
  margin-top: 2em;
  text-align: center;
}

#service .row {
  justify-content: flex-start;
  gap: 1em;
  margin-top: 2em;
  overflow-x: scroll;
}

#service .row::-webkit-scrollbar {
  scroll-snap-type: x mandatory;
  display: none;
}

#service .row .cardSrv {
  flex: 0 0 300px;
  height: 300px;
  align-items: flex-end;
  border-radius: 10px;
  padding: 1em;
  text-align: left;
  overflow: hidden;
  position: relative;
}

.cardSrv::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.514);
}

.cardSrv figcaption {
  position: relative;
  z-index: 1;
  color: var(--basic);
}

/* END TERM CONDITION */

/* FAQ */

#faq {
  padding: 2em 0;
}

#faq figcaption {
  text-align: center;
}

#faq .row {
  margin: 1em 0;
}

.ask-head,
.ask-content {
  padding: 10px;
  border-bottom: 1px solid var(--grey);
}

.ask-content {
  height: 0;
  padding: 0;
  overflow-y: scroll;
}

/* END FAQ */

/* ROOM SECTION */
/* VILLA DETAIL */

main .row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  align-items: start;
}

main .img-preview {
  height: 400px;
  background-color: var(--grey);
  margin: 1.5em 0;
}

.villa-detail figcaption {
  margin: 1.5em 0;
}

figcaption ul {
  margin-top: 1em;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

figcaption ul li {
  padding: 1em;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  color: var(--grey);
}

figcaption ul li h5 {
  margin-top: 1em;
}

.guider {
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}

.guider figcaption {
  width: 100%;
}

.guide-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  padding: 1em;
  color: var(--grey);
}

/* END VILLA DETAIL */

/* SECTION BOOKING */

#booking {
  padding: 1em 0;
}

#booking .row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

#booking form {
  padding: 1em;
  margin-top: 1em;
  border: 1px solid var(--grey);
  border-radius: 10px;
}

form input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid var(--grey);
}

form figcaption {
  gap: 1em;
  margin: 10px 0;
}

form figcaption .col {
  width: 100%;
}

.payment input {
  color: var(--fresh);
  font-weight: 600;
  font-size: 1.5rem;
  border: none;
}

.notes ul {
  margin-top: 10px;
  list-style: circle;
  list-style-position: inside;
  color: var(--grey);
}

.btn-booking {
  width: 100%;
  padding: 1em;
  margin-top: 1.5em;
  border: none;
  background-color: var(--dark);
  color: var(--basic);
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 10px;
}

.calender iframe {
  margin: 1em 0;
  width: 100%;
  height: 500px;
}

/* END SECTION BOOKING */

/* NOTIF BOOKING */

#notif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-invoice {
  width: 100%;
  background-color: var(--basic);
  padding: 1em;
  border-radius: 10px;
}

.card-header {
  align-items: flex-start;
  padding: 8px 0;
  border-bottom: 1px solid var(--grey);
}

.card-content .row {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  padding: 1em 0;
}

.card-content ul li {
  margin: 10px 0;
}

.card-payment {
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  padding: 1em 0;
  flex-wrap: wrap;
  gap: 1em;
}

.card-btn {
  flex-direction: column;
  gap: 10px;
  margin-top: 1em;
}

.card-btn button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--dark);
  color: var(--basic);
  font-weight: 600;
  border-radius: 5px;
}

/* END NOTIF BOOKING */

/* SIMILAR */

#similar {
  padding: 2em 0;
}

#similar .row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  margin: 1em 0;
}

/* END SIMILAR */

/* FOOTER */
footer {
  text-align: center;
  padding: 1.5em 0 10px;
  background-color: var(--dark);
  color: var(--basic);
}

footer .features {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
}

footer .col {
  text-align: left;
}

footer ul li {
  margin: 10px 0;
}

footer a {
  color: var(--basic);
}

.address a {
  gap: 1em;
  justify-content: flex-start;
}

.copyright {
  margin: 1em 0;
  border-top: 1px solid var(--grey);
  padding: 10px 0;
}

/* END FOOTER */

/* RESPONSIVE */
/* DESKTOP VIEW */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .calender iframe {
    height: 300px;
  }
}

/* TABLET VIEW */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  .navigator {
    position: fixed;
    top: 4em;
    right: 2em;
    display: flex;
    flex-direction: column;
    background-color: var(--basic);
    padding: 1em;
    transform: translateY(-150%);
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  .navigator.open {
    transform: translateY(0);
    opacity: 1;
  }

  .hamBtn {
    display: block;
  }
}

/* SMARTPHONE VIEW */
@media (max-width: 576px) {
  html {
    font-size: 65%;
  }
}
